<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>580173926088-f1nvgrj7f34cggs7rde8l858qa1bu6f0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.580173926088-f1nvgrj7f34cggs7rde8l858qa1bu6f0</string>
	<key>API_KEY</key>
	<string>AIzaSyCYHddroolYtxHVRsZs8cKSlk60YtMR5b0</string>
	<key>GCM_SENDER_ID</key>
	<string>580173926088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amaslovprod.InstaClone</string>
	<key>PROJECT_ID</key>
	<string>instaclone-1de38</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-1de38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580173926088:ios:9f05182af7a532014bdffd</string>
</dict>
</plist>